:root {
	--base: #fefeff;
	--secondary: #f5f5f5;
	--title: #33354a;
	--hover: #1C289D;
	--button: #3f46ae;
	--link: #717e9d;
	--text: #5f5b65;
	--logo: #6d727e;
	--border: #dedede;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background-color: var(--base);
}

#navbar {
	position: absolute;
	display: flex;
	border-bottom: 1px solid var(--border);
	padding-left: 4em;
	padding-right: 4.1em;
	padding-block: .54em;
	background-color: #fff;
	transition: top 0.5s ease-in-out;
	top: 0;
	left: 0;
	right: 0;
}

#navbar.show {
	position: fixed;
}

.nav-items-list {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	width: 100%;
}

.link {
	text-decoration: none;
	padding-inline: .6em;
	padding-top: .3em;
	padding-bottom: .4em;
	color: var(--logo);
	font-size: 1.025em;
	margin-inline: .7em;
	font-family: 'Segoe UI';
	letter-spacing: .25px;
}

.link:hover {
	color: var(--hover)
}

.workspace-link {
	border: .1px solid #000;
	border-radius: 4px;
}

.workspace-link:hover {
	border: .1px solid var(--hover);
}

#signin-link {
	font-family: 'Segoe UI';
}

/* Container */

#container {
	margin-top: 5.4em;
	display: flex;
	margin-right: 6em;
	color: var(--title);
	padding-bottom: 3em;
}

#left {
	margin: 0;
	padding: 0;
	margin-right: .5em;
}

#image {
	height: 96%;
}

#right {
	margin-left: .5em;
}

#title {
	font-size: 5em;
}

#subtitle {
	font-size: 2.3em;
	letter-spacing: -1px;
}

#title, #subtitle {
	color: var(--title);
	font-weight: bolder;
}

.big-paragraph {
	margin-top: 1em;
	margin-bottom: 1.6em;
	font-size: 1.28em;
}

.btn {
	border: 1px solid var(--hover);
	border-radius: 5px;
	padding-inline: 3em;
	padding-block: 1.5em;
	text-transform: uppercase;
	font-weight: 800;
}

.btn:hover {
	box-shadow: inset 0 0 0 1px var(--hover);
	cursor: pointer;
}

.register-btn {
	background-color: var(--button);
	color: #fff;
}

.register-btn:hover {
	background-color: var(--hover);
}

.discover-btn {
	background-color: #fff;
	color: var(--hover)
}

#signin {
	margin-top: 1em;
	font-size: .9em;
}

#foot-notes {
	padding-block: 2.9em;
	background-color: var(--secondary);
	text-align: center;
	color: var(--title);
}

.paragraph {
	margin-block: 1em 2em;
	font-family: 'Segoe UI';
}

#logos {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	margin-inline: 3.5em;
}

.logo-figure {
	display: flex;
	border: 1px solid var(--border);
	height: 7em;
	align-items: center;
	justify-content: center;
}