:root {
	--base: #5fd181;
	--header: #657b91;
	--input: #fafbfb;

	/* Responsive Breakpoints */
	--xs: 0px;
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px;
	--xxl: 1400px;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI';
	color: #fff;
	font-weight: 640;
}

.treehouse-icon {
	padding-left: 5em;
	fill: var(--base);
}

#navbar {
	background-color: #fff;
	color: #404040;
	display: flex;
	height: 10vh;
	align-items: center;
	padding-right: 3.2em;
	position: fixed;
	width: 100%;
	margin: 0;
}

.nav-items-list {
	list-style: none;
	display: flex;
	text-align: center;
	justify-content: flex-end;
	margin-right: 1.2em;
	width: 100%;
}

.nav-link {
	color: gray;
	text-decoration: none;
	width: 6em;
	display: block;
}

#free-trial-link {
	color: var(--base);
	padding-right: 3.4em;
}

#container {
	display: flex;
	flex-direction: row;
	background-color: var(--base);
	background-image: url('/images/treehouse-background.svg');
	background-size: 50%;
	height: 90vh;
	align-items: center;
	justify-content: space-evenly;
	padding-inline: 2.1vw;
	padding-top: 10vh;
	background-position-y: 10vh;
}

#paragraph {
	font-size: 1.1em;
	margin-block: 1em;
}

#text {
	width: 44%;
}

#title {
	font-size: 3em;
}

#free-trial-form {
	background-color: #fff;
	border-radius: 6px;
	text-align: center;
	width: 44%;
}

#form-header {
	background-color: var(--header);
	padding: 1.3em;
	font-size: 1.02em;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#form-body {
	padding-top: 1.2em;
	padding-inline: 1.7em;
	padding-bottom: .4em;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.form-control {
	text-align: left;
	margin-inline: .5em;
	margin-block: .5em;
}

.form-label {
	color: #505050;
	display: block;
	margin-bottom: .4em;
	font-weight: 650;
	font-size: 1.05em;
}

.form-input {
	border: 2.5px solid #d0d0d0;
	background-color: var(--input);
	border-radius: 4px;
	color: #303030;
	padding: 1em;
	display: block;
	width: 89%;
}

input:focus {
	background-color: #fff;
	border-color: #909090;
	outline: none;
}

#form-footer {
	font-weight: 640;
	font-size: small;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-inline: 2em;
	padding-bottom: 4em;
	gap: 1em;
}

hr {
	border-color: #fff;
	color: #fff;
	background-color: #fff;
	margin-block: 1em;
}

#form-btn {
	padding: 1em;
	border: none;
	border-radius: 3px;
	background-color: var(--base);
	font-size: 1.3em;
	vertical-align: middle;
}

#terms-services {
	text-align: left;
	color: #606060;
	display: block;
}

#form-link {
	color: cornflowerblue;
	font-weight: 640;
	text-decoration: none;
}

@media (max-width: 576px) {
	#container {
		height: 100%;
		padding-top: 5em;
		padding-bottom: 2em;
	}

	#form-body {
		display: block;
	}

	#text {
		width: 100%;
	}

	#free-trial-form {
		width: 100%;
	}

	#title {
		font-size: 2.1em;
	}
}

@media (max-width: 992px) {
	#container {
		flex-direction: column;
	}

	#text {
		width: 100%;
	}

	#free-trial-form {
		width: 100%;
	}

	#title {
		font-size: 2.1em;
	}
}